body{
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100%;
}

/* modifying Bootstrap Classes */

.display-4{
    font-size: 2.5rem;;
}
.row{
    margin:0;
    padding:0;
    border:0;
}

.display-3{
    font-size: 1.5rem;
    align-self: center;
}

/* Navigation Bar */

.navbar-light{
    background-color: white;
}

.logo-img{
    width: 4rem;
    height: 4rem;
}

h1{
    font-size: 1.5rem;
}

/* Slider Section */

#hero-section{
  align-content: center;
  display: flex;
  justify-content: center;
  position: relative;
  color: white;
}
#hero-img-container{
    position: absolute;
    z-index: 0;
}

#hero-img{
    width:100%;
    height:30rem;    
}

#hero-info{
    position: absolute;
    z-index: 1;
    background-color: rgb(0, 118, 162, 0.4);
    width: 100%;
    height: 91%;  
}

#hero-cta{
    justify-content: center;
}

#hero-title{
    font-size: 4rem; 
    padding-top: 10rem;
}

/* About section */
#about-section{
    min-height: 75vh; 
    background-color: linear-gradient(to right, #950e1c, #ebbb19);
}

.why-img{   
    width: 100%;
    height: 100%;
}

/* What to study Section  */

#what-to-section{
    min-height: 75vh;
    background-image: url("../images/dots.png");
    background-size: cover;
}

.card-container{
    width: 25rem;    
}

/* modifying bootstrap classes */
.card-img-top{
    min-height: 10rem;
    max-height: 10rem;
}

.card{
    width: 100%;
}

.card-title{
    font-weight: 600;
}

.m4 p{
    margin: 0;
    padding : 0;
    border:0;
}

/* Validation Section  */

#map {
    height: 25rem;
    min-width: 100%;
}

/* University locator section */

#university-locator-section{
    min-height: 89vh;
}

#university-locator-section p {
    margin:0;
    border: 0;
    padding: 0;
}

#university-locator-section h2{
    margin:0;
}

/* Contact Section */
#contact-section{
    /* background-image: url("../images/contact-background1.png"); */
    display: block;
    background-size: cover;
    background: linear-gradient(to right, #1ad5cf, #f3df4c 65%);
    min-height: 95vh;
}

#contact-title{
    font-size: 3rem;
}

/* Requerimients Page */

.country-flag{
    height: 3rem;
    width: 5rem;
}

.country{
    border-style: none;
    border-radius: 5%;
    position: relative;
    height: 10rem;
}

.country:hover{
    background-color: #0099b2;
    color: white;
}

.country-code{
    margin:0;
}

/* Footer Styles */
footer p{
    margin:0;
}