body{
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100%
}

.navbar-light{
    background-color: white;
}

.logo-img{
    width: 4rem;
    height: 4rem;
}

h1{
    font-size: 1.5 rem;
}

.display-3{
    font-size: 1.5rem;
    align-self: center;
}


/* Hero Section */

#hero-section{
  align-content: center;
  display: flex;
  justify-content: center;
  position: relative;
  color: white;
  
}
#hero-img-container{
   
    position: absolute;
    z-index: 0;
}

#hero-img{
    width:100%;
    height:30rem;
    
}

#hero-info{
    position: absolute;
    z-index: 1;
    background-color: rgb(0, 118, 162, 0.4);
    width: 100%;
    height: 91%;
}

#hero-cta{
    justify-content: center;
}

#hero-title{
    
    padding-top: 10rem;
}

#hero-container{
    box-sizing: content-box;
    align-items: center;
    z-index: 1;
    padding-top:2rem;
}




.why-img{   
    width: 100%;
    height: 100%;
}


#what-to-section{
    min-height: 75vh;
    background-image: url("../images/dots.png");
    background-size: cover;
}

/* About section */
#about-section{
    min-height: 75vh; 
    background-color: linear-gradient(to right, #950e1c, #ebbb19);
}

.card{
    width: 100%;
}

.card-container{
    width: 25rem;
    
}

.card-img-top{
min-height: 10rem;
max-height: 10rem;
}

.card-title{
    font-weight: 600;
}

#university-locator-section p {
    margin:0;
    border: 0;
    padding: 0;
}

#university-locator-section h2{
margin:0;
}

/* Validation Section */
#verification-section{
   
}

/* Contact Section */
#contact-section{
    /* background-image: url("../images/contact-background1.png"); */
    display: block;
    background-size: cover;
    background: linear-gradient(to right, #1ad5cf, #f3df4c 65%);
    min-height: 95vh;
}

/* Validation Section  */

#contact-title{
    font-size: 3rem;
}

#university-locator-section{
    min-height: 89vh;
}
.display-4{
    font-size: 2.5rem;;
}
.row{
    margin:0;
    padding:0;
    border:0;
}

.country-flag{
    height: 3rem;
    width: 5rem;
}

.country{
    border-style: none;
    border-radius: 5%;
    position: relative;
    height: 10rem;
}

.country:hover{
    background-color: #0099b2;
    color: white;
}

.country-code{
    margin:0;
}

.m4 p{
    margin: 0;
    padding : 0;
    border:0;
}

#map {
    min-height: 75vh;
    min-width: 100%;
}



/* Footer Styles */
footer p{
    margin:0;
}
